/*General settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-white);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --color-black: #0d0d0f;
    --grey11: #1C1C1C;
    --grey21:#363636;
    --grey31: #4F4F4F;
    --dimGray: #696969;
    --gray:	#808080;
    --darkGray: #A9A9A9;
    --Silver: #C0C0C0;
    --lightGrey: #D3D3D3;
    --gainsboro: #DCDCDC;
    --color-white: #fff;

    --header-height: 75px;
    --navbar: linear-gradient(to right,#363636, #1C1C1C);
    --navbar-mobile: linear-gradient(to bottom,#363636, #1C1C1C);
    --background-home: radial-gradient(#C0C0C0, #A9A9A9);
    --background-carousel-items: #ffffff;
    --sliders: #c0c0c0b8;
    --filter-button: #5e5e5f;
    --filter-button-checked: #afb2b2;
    --footer-color: #aeaeae;
    --footer-background: #1C1C1C;

    --font-body: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --carousel-text: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    cursor: pointer;
}

button:active, 
button:focus {
    outline: none;
}

a {
    text-decoration: none;
}



/*Group settings*/

.sections-title {
    height: 20vh;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(var(--header-height) + 20px);
    user-select: none;
}
.sections-title h1 {
    width: fit-content;
    padding-bottom: 2px;
    color: var(--color-black);
    letter-spacing: 0.1rem;
    font-family: var(--font-body);
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid var(--color-black);
}


/*Individual settings*/

/*Header*/
#navbar {
    height: var(--header-height);
    width: 100%;
    background: var(--navbar);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    user-select: none;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#logo a {
    color: white;
    letter-spacing: 0.3rem;
    font-family: var(--font-body);
    font-size: 2.4rem;
    font-weight: 600;
}


#nav-right {
    width: 34.5rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#nav-urls {
    width: 100%;
}
#nav-urls ul {
    height: 30px;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}
#nav-urls ul li {
    display: inline-flex;
    display: -webkit-inline-flex;
    height: 100%;
    align-items: flex-start;
    justify-content: center
}
#nav-urls ul li a {
    padding: 6px 0;
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: var(--font-body);
    cursor: pointer;
}
#nav-urls ul li a:hover {
    padding: 6px 0;
    border-bottom: 1px solid var(--color-white);
}
.nav_link-active {
    padding: 6px 0;
    border-bottom: 1px solid var(--color-white);
}


/*Hamburguer Navbar*/
#nav-toggle {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
    
#one, #two, #three {
    background: var(--color-white);
    height: 2px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
}



/*Home*/

#info-container {
    height: calc(100vh - var(--header-height));
    width: 100%;
    background: var(--background-home);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-around;
}

#info-text {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
#info-texts h1 {
    color: var(--color-white);
    letter-spacing: 0.1rem;
    font-family: var(--font-body);
    font-size: 4.8rem;
    font-weight: 600;
    margin: 0 0 20px 0;
}
#info-texts h2 {
    color: var(--color-black);
    letter-spacing: 0.1rem;
    font-family: var(--font-body);
    font-size: 1.8rem;
    font-weight: 600;
}
#info-text span {
    display: inline-block;
    color: var(--color-black);
    letter-spacing: 0.1rem;
    font-family: var(--font-body);
    font-size: 4.8rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}


@-webkit-keyframes letterAnimation {
    0% {transform: translateY(0px);
        -webkit-transform:translateY(0px);
        -ms-transform:translateY(0px)}

    50% {transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -ms-transform: translateY(-7px);}

    100% {transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);}
}
@keyframes letterAnimation {
    0% {transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);}
    50% {transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -ms-transform: translateY(-7px);}
    100% {transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);}
}
.home-name-hover {
    animation-name: letterAnimation;
    animation-duration: 0.6s;
}


#contact-button button {
    border-radius: none;
    background-color: transparent;
    border: 1px solid var(--color-black);
    padding: 7px 10px;
    cursor: pointer;
    margin: 35px 0 0 0;
}
#contact-button button a {
    color: var(--color-black);
    letter-spacing: 0.2rem;
    font-family: var(--font-body);
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}
#contact-button button:hover {
    background-color: #ffffff30;
}


#social-urls {
    height: auto;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}
#social-urls ul {
    list-style: none;
    height: 100%;
}
#social-urls ul li {
    display: inline-flex;
    display: -webkit-inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 0;
}
#social-urls ul li a {
    text-decoration: none;
    color: var(--color-white);
}
#social-urls ul li a img {
    height: 25px;
    opacity: 1;
}
#social-urls ul li a img:hover {
    opacity: 0.4;
}

#info-image {
    height: 85%;
    width: 500px;
}
#info-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}


/*About*/

#about {
    width: 100%;
    height: auto;
}

#about-content {
    height: 80vh;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-evenly;
}
#about-image {
    height: 80%;
    width: 400px;
}
#about-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

#about-text {
    height: 100%;
    width: 35%;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}
#about-text h1 {
    color: var(--color-black);  
    letter-spacing: 0.1rem;
    font-family: var(--font-body);
    font-size: 2.8rem;
    font-weight: 600;
}
#about-text h2{
    color: var(--dimGray);
    font-family: var(--carousel-text);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.2rem;
    margin: 12px 0 0 0;
}

#about-text h2 a {
    color: var(--color-black);
    cursor: pointer;
}



/*Skills*/

#skills-container {
    background-color: var(--color-white);
}
#skills {
    flex: 1;
    overflow: hidden;
    height: 80vh;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

#carousel {
    height: 26rem;
}
#carousel-inner {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-direction: row;
    transition: all ease 0.5s;
}
.carousel-items {
    width: calc(100vw/3);
    margin: 0 0.3rem;
    height: inherit;
    background-color: var(--background-carousel-items);
    box-shadow: 1px 1px 7px 0px black;
}


/*Carousel items styles*/
.carousel-header {
    width: 100%;
    height: 56%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-header img {
    height: 9.5rem;
    max-height: 9.5rem;
}

.carousel-title h1 {
    font-size: 3.0rem;
    font-family: var(--carousel-text);
    color: var(--color-black);
    text-align: center;
    margin: 0 0 7px 0;
    font-weight: 600;
}
.carousel-title h2, 
.carousel-title h3 {
    text-align: center;
    font-size: 1.9rem;
    font-family: var(--font-body);
    color: var(--grey31);
    font-weight: 600;
}

.carousel-content {
    height: 44%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.carousel-content h1 {
    text-align: justify;
    width: 85%;;
    font-size: 1.7rem;
    font-family: var(--carousel-text);
    color: var(--grey31);
    font-weight: 600;
    line-height: 2.4rem;
}


/*Slide with Focus*/
.slide-focus {
    transform: scaleY(1.1);
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transition: all 0.5s;
}
.slide-focus div img {
    transform: scaleX(1.1);
    -webkit-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
}
.slide-focus .carousel-header {
    height: 58% !important;
}
.slide-focus .carousel-content {
    height: 42% !important;
}
.slide-focus .carousel-content h1 {
    width: 90% !important;
    font-size: 1.9rem !important;
}


/*Slide controls*/
#slider-controls {
    position: absolute;
    z-index: 9;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
#slider-controls div {
    width: 4rem;
    height: 4rem;
    background-color: var(--sliders);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
#slider-controls div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    background: var(--sliders);
}
#carousel-next img{
    transform: translateX(1px);
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
}
#carousel-prev img {
    transform: translateX(-1px);
    -webkit-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
}

#slider-controls div img:hover, 
#slider-controls div:hover {
    background: var(--grey31) !important;
}


/*Portifolio*/

#portifolio {
    height: auto;
    width: 100%;
    padding: 0 0 40px 0;
}
#portifolio-container {
    width: 95%;
    margin: 0 auto;
    max-width: 1040px;
}

/*Filters*/
#portifolio-filters {
    width: 100%;
    height: auto;
    margin: 60px 0 50px 0;
    text-align: center;
}

#filters {
    width: 100%;
    height: fit-content;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin: 0;
}

.filters {
    margin: 0 25px 0 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.filters button {
    margin: 0 10px 0 0;
    cursor: pointer;
    display: inline;
    height: 14px;
    width: 14px;
    border: 1px solid var(--filter-button);
    background-color: transparent;
    border-radius: 0;
}

.filters h1 {
    display: inline;
    color: var(--color-black);
    letter-spacing: 0.3rem;
    font-family: var(--font-body);
    font-size: 2.0rem;
    font-weight: 600;
}
.filter-checked {
    background-color: var(--filter-button-checked) !important;
}


/*Portifolio items*/

.cards {
    width: 100%;
    max-width: 1040px;
    min-height: 300px;
    margin: auto;
    display: grid;
    display: -ms-grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 2.0rem;
}
  
.card {
    height: 140px;
    max-width: 250px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    transition: all 0.3s ease;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 2px 7px 0px var(--grey31);
}
  
.card:hover {
    transform: translateY(-5px) !important;
    -webkit-transform: translateY(-5px) !important;
    -ms-transform: translateY(-5px) !important;
    transition: all 0.3s ease !important;
}
  
.card-image {
    height: inherit;
    width: 100%;
    overflow: hidden;
}
  
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}


/*Footer*/

#footer {
    background-color: var(--footer-background);
    height: 60px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#footer-content {
    color: var(--footer-color);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}




@media (max-width: 1050px) {

    html {
        font-size: 56.25%;
    }

}

@media (max-width: 940px) {

    html {
        font-size: 50%;
    }
    :root {
        --header-height: 70px;
    }

    #info-image {
        height: 85%;
        width: 450px;
    }

    #about-image {
        height: 78%;
        width: 375px;
    }

}

@media (max-width: 850px) {

    html {
        font-size: 43.750%;
    }

    #info-image {
        height: 85%;
        width: 400px;
    }

    #about-image {
        height: 76%;
        width: 350px;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 43.750%;
    }
    :root {
        --header-height: 65px;
    }

    #info-image {
        height: 80%;
        width: 360px;
    }

    #about-image {
        height: 76%;
        width: 350px;
    }

}

@media (max-width: 690px) {

    html {
        font-size: 37.5%;
    }


    /*Home container*/
    #info-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #info-text {
        justify-content: space-around;
        height: 50%;
    }

    #info-texts h1 {
        margin: 0 0 12px 0;
    }

    #contact-button button {
        margin: 25px 0 0 0;
    }

    #social-urls ul li a img {
        height: 18px;
    }

    #info-image {
        height: 40%;
        width: 270px;
    }



    /*About responsive*/
    #about-content {
        flex-direction: column;
    }

    #about-image {
        height: 46%;
        width: 260px;
    }

    #about-text {
        height: auto;
        width: 260px;
    }


    /*Skills responsive*/
    #skills {
        height: auto;
        margin: 25px 0;
    }

    #slider-controls {
        display: none;
    }

    #carousel {
        height: auto;
    }

    #carousel-inner {
    height: 100%;
    width: 100vw !important;
    max-width: 1040px;
    min-height: 320px;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 2rem;
    }

    .carousel-items {
    width: 40vw;
    min-width: 180px;
    margin: 0.3rem 0;
    height: 22vh;
    }

    .slide-focus {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transition: all 0s;
    }



    /*Portifolio responsive*/
    #portifolio-filters {
        margin: 35px 0 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #filters {
    width: auto;
    flex-direction: column;
    }

    .filters {
        margin: 0 0 10px 0;
    }

    

    /*Hamburger Navbar*/
    #navbar {
        padding: 0 6vw;
    }
    #nav-toggle {
        display: block;
    }

    #nav-right {
        width: auto;
    }

    #nav-urls {
        display: none;
    }

    #nav-right.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background: var(--navbar-mobile);
        
        z-index: 10;

        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
    }

    #nav-right.on #nav-urls {
        display: flex;
        display: -webkit-flex;
        height: 100%;
        align-items: center;
    }

    #nav-right.on #nav-toggle {
        position: absolute;
        right: 6vw;
        top: 22px;
    }

    #nav-right.on #nav-toggle #one {
        transform: rotate(45deg) translate(3px, 3px);
    }

    #nav-right.on #nav-toggle #two {
        opacity: 0;
    }

    #nav-right.on #nav-toggle #three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    #nav-right.on #nav-urls ul {
        text-align: center;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        height: 50%;
    }

    #nav-urls ul li {
        height: auto;
    }

    #nav-right.on #nav-urls ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
        
    }

}